{{#if overview_additional_links}}
<h2>
{{#ifEquals lang "de"}}
Weiterf&uuml;hrende Links
{{else}}
Related links
{{/ifEquals}}
</h2>
{{/if}}

<ul>
{{#if parent_subpages}}

{{#ancestry.children}}
{{#if nav_show}}
<li>
<a class="content-list-link" href="{{uri}}">{{#if nav_name}}{{nav_name}}{{else}}{{title}}{{/if}}</a>
</li>
{{/if}}
{{/ancestry.children}}

{{else}}

{{#ancestry.children}}
{{#if nav_show}}
<li>
<a class="content-list-link" href="{{uri}}">{{#if nav_name}}{{nav_name}}{{else}}{{title}}{{/if}}</a>
</li>
{{/if}}
{{/ancestry.children}}

{{/if}}

{{#if overview_external_links}}
</ul>

<h2>
{{#ifEquals lang "de"}}
Externe Links
{{else}}
External links
{{/ifEquals}}
</h2>

<ul>
{{/if}}


{{#if gplay_download_link}}
<li>
<a class="content-list-link" href="{{gplay_download_link}}">Download (Google Play)</a>
</li>
{{/if}}

{{#if fdroid_download_link}}
<li>
<a class="content-list-link" href="{{fdroid_download_link}}">Download (F-Droid)</a>
</li>
{{/if}}

{{#if direct_download_app_name}}
<li>
<a class="content-list-link" href="https://s2.spiritcroc.de/fdroid/{{direct_download_app_name}}.apk">Direct download</a>
|
<a class="content-list-link" href="https://s2.spiritcroc.de/fdroid/">SpiritCroc.de F-Droid repository</a>
</li>
{{/if}}

{{#if github_src_link}}
<li>
<a class="content-list-link" href="{{github_src_link}}/issues">{{#ifEquals lang "de"}}Fehler melden{{else}}Bug tracker{{/ifEquals}} (GitHub)</a>
</li>
<li>
<a class="content-list-link" href="{{github_src_link}}">{{#ifEquals lang "de"}}Quellcode{{else}}Source code{{/ifEquals}} (GitHub)</a>
</li>
{{/if}}


</ul>
