<a href="{{ancestry.root.uri}}" class="brand"><img src="/img/SchildiChat_nopadding.svg" style="max-height: 100%" alt="SchildiChat">SchildiChat</a>
<div class="nav-links-holder">
  <div class="nav-links">
    {{#ancestry.root}}
      <a href="{{uri}}" class="nav-link">{{nav_name}}</a>
      {{#ancestry.children}}
        {{#if nav_show}}
          <a href="{{uri}}" class="nav-link {{#ifIn this @root.nav_active }} active{{/ifIn}}">{{nav_name}}</a>
        {{/if}}
      {{/ancestry.children}}
    {{/ancestry.root}}
  </div>
</div>