<a href="{{ancestry.root.uri}}" class="nav-brand">
  <img src="/img/SchildiChat_nopadding.svg" alt="{{site_name}}">
  {{site_name}}
</a>
<div class="nav-links-holder">
  <div class="nav-links">
    {{#ancestry.root}}
      {{#ancestry.children}}
        {{#if nav_show}}
          <a href="{{uri}}" class="nav-link {{#ifIn this @root.nav_active }} active{{/ifIn}}">{{nav_name}}</a>
        {{/if}}
      {{/ancestry.children}}
    {{/ancestry.root}}
  </div>
</div>