<div class="site-title">

<div class="site-nav-bar">

{{#if needs_link_to_top}}

{{#ifEquals ancestry.parent.title ancestry.root.site_title}}
{{else}}
<a href="{{ancestry.parent.uri}}" class="sub-site-nav-link">{{ancestry.parent.nav_name}}</a>
|
{{/ifEquals}}
<a href="{{ancestry.root.uri}}" class="top-site-nav-link">{{ancestry.root.site_title}}</a>

{{else}}

{{> top_subpage_bar }}

{{/if}}

</div>

<div class="siteheader"><a class="siteheader" href="{{uri}}">{{{ site_title }}}</a></div>

</div>
