{{#unless overview_list}}

{{#if parent_subpages}}

{{#ancestry.parent.ancestry.children}}
{{#if nav_show}}
<a class="page-nav-link" href="{{uri}}">{{#if nav_name}}{{nav_name}}{{else}}{{title}}{{/if}}</a>
{{/if}}
{{/ancestry.parent.ancestry.children}}

{{else}}

{{#ancestry.children}}
{{#if nav_show}}
<a class="page-nav-link" href="{{uri}}">{{#if nav_name}}{{nav_name}}{{else}}{{title}}{{/if}}</a>
{{/if}}
{{/ancestry.children}}

{{/if}}

{{/unless}}
