---
layout: base.hbs
---

<main class="error container">
    <h1>Error{{#if error_number}} {{error_number}}{{/if}}</h1>

    {{#if error_description}}<h2>{{error_description}}</h2>{{/if}}

    {{{ contents }}}

    <img src="/img/turtle_error.png" alt="{{#if error_description}}{{error_description}}{{else}}Error{{/if}}"/>
</main>