<!doctype html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    {{#ifEquals title page_title}}
    <title>{{page_title}}</title>
    {{else}}
    <title>{{title}} | {{page_title}}</title>
    {{/ifEquals}}
    <meta name="description" content="{{site_description}}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="/{{lookup hashes stylesheet}}">
    
    <link rel="icon" type="image/svg+xml" href="/{{svg_favicon}}">
    {{> favicons}}

    <!-- icon for link previews -->
    <meta property="og:image" content="https://schildi.chat/img/ogimage.png" />
</head>
<body>
    {{{ contents }}}
    <script src="/{{ hashes.[js/bundle.js] }}"></script>
</body>
</html>
